:root {
  --background-color: #F2F1F7;
  --card-color: #FFFFFF;
}

body {
  background-color: var(--background-color);
}

.header .avatar {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 2em;
}

.social-links .link {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  max-width: 550px;
  border-radius: .7em;
  border: 0px;
  padding: 0;
  background-color: var(--card-color);
}

.social-links .link:hover {
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  transition: all 0.2s ease-in-out;
}

.social-links .link .row,
.social-links .link .col-auto {
  margin: 0;
  padding: 0;
}

.social-links .link .link-icon {
  border-radius: .5em;
  padding: .7em;
  background-color: #1877f2;
}

.social-links .link .link-icon img {
  max-width: 40px;
  max-height: 40px;
}
